<div class="dialog editorDialog">
    <header>
        <button class="dialog-close" ng-click="showItemEditor=false;">x</button>
        <div class="inner">
            <strong>Item Editor <span ng-if="item.id">[Editing: {{ item.id }}]</span></strong>
        </div>
    </header>
    <form name="itemEditorForm" novalidate class="body">
        <div class="control-group">
            <label for="existingItem">Items:</label>
            <select id="existingItem" name="existingItem" ng-model="item" ng-options="t.name for t in templates | orderBy:'name'"></select>
        </div>
        <div class="control-group">
            <label for="item_name">Name:</label>
            <input id="item_name" type="text" ng-model="item.name" ng-required /> <br>

            <label for="item_type">Type:</label>
            <input id="item_type" type="text" ng-model="item.type" ng-required /> <br>

            <label for="item_subtype">Subtype:</label>
            <input id="item_subtype" type="text" ng-model="item.subtype" ng-required /> <br>

            <label for="item_attr1">Attr1:</label>
            <input id="item_attr1" type="text" ng-model="item.attr1" ng-required /> <br>

            <label for="item_delay">Delay:</label>
            <input id="item_delay" type="text" ng-model="item.delay" ng-required /> <br>

            <label for="item_particle">Particle:</label>
            <input id="item_particle" type="text" ng-model="item.particle" ng-required /> <br>

            <label for="item_basevalue">BaseValue:</label>
            <input id="item_basevalue" type="text" ng-model="item.baseValue" ng-required /> <br>
        </div>
        <div class="control-group">
            Image: {{ item.image }}<br>
            <img ng-src="{{ imageUrl }}" />
        </div>
    </form>
    <footer>
        <button>Save</button>
        <button ng-click="doNew()">New</button>
        <button ng-click="doDuplicate()">Duplicate</button>
        <button>Delete</button>
        <button ng-click="giveItem()" ng-disabled="!item.id">Give Item</button>
    </footer>
</div>