<div class="dialog editorDialog">
    <header>
        <button class="dialog-close" ng-click="showItemEditor=false;">x</button>
        <div class="inner">
            <strong>Item Editor <span ng-if="item.id">[Editing: {{ item.id }}]</span></strong>
        </div>
    </header>
    <form name="itemEditorForm" novalidate class="body">
        <div class="pull-left">
            <div class="control-group">
                <label class="control-label" for="existingItem">Items:</label>
                <div class="controls">
                    <select id="existingItem" name="existingItem" ng-model="item" ng-options="t.name for t in templates | orderBy:'name'"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="item_name">Name:</label>
                <div class="controls">
                    <input id="item_name" type="text" ng-model="item.name" ng-required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="item_type">Type:</label>
                <div class="controls">
                    <input id="item_type" type="text" ng-model="item.type" ng-required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="item_subtype">Subtype:</label>
                <div class="controls">
                    <input id="item_subtype" type="text" ng-model="item.subtype" ng-required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="item_basevalue">BaseValue:</label>
                <div class="controls">
                    <input id="item_basevalue" type="text" ng-model="item.baseValue" ng-required />
                </div>
            </div>
        </div>
        <div class="pull-left">
            <div class="control-group image-control">
                <label class="control-label" for="item_image">Image: {{ item.image }}</label>
                <img id="item_image" ng-src="{{ imageUrl }}" />
            </div>
            <div class="control-group">
                <label class="control-label" for="item_attr1">Attr1:</label>
                <div class="controls">
                    <input id="item_attr1" type="text" ng-model="item.attr1" ng-required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="item_delay">Delay:</label>
                <div class="controls">
                    <input id="item_delay" type="text" ng-model="item.delay" ng-required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="item_particle">Particle:</label>
                <div class="controls">
                    <input id="item_particle" type="text" ng-model="item.particle" ng-required />
                </div>
            </div>
        </div>
    </form>
    <footer>
        <button ng-click="doSave()">Save</button>
        <button ng-click="doNew()">New</button>
        <button ng-click="doDuplicate()">Duplicate</button>
        <button ng-click="doDelete()">Delete</button>
        <button ng-click="giveItem()" ng-disabled="!item.id">Give Item</button>
        <button ng-click="showScripts()">Script</button>
        <button ng-click="showAnalysis()" ng-disabled="!item.id">Analysis</button>
    </footer>
</div>