<div class="dialog char-select">
    <header>
        <button disabled class="pull-left">{{ currentUser.name }}</button>
        <button class="pull-right" ng-click="logout()">Log out</button>
    </header>

    <div class="body">
        <div>
            <button ng-click="prev()" class="cycle pull-left">←</button>
            <div class="char-name pull-left">{{ selectedChar.name }}</div>
            <button ng-click="next()" class="cycle pull-right">→</button>
        </div>

        <div class="clearfix"></div>

        <div>
            <button class="cycle pull-right" ng-click="deleteChar()">✖</button>
            <div class="preview pull-right">
                <img ng-src="{{ selectedChar.getTexture(true) }}" />
            </div>
        </div>
    </div>

    <footer>
        <button class="attention" ng-click="enterGame()">Play!</button>
        <button ng-click="options()">Options</button>
    </footer>
</div>