<div class="dialog char-select">
    <header>
        <button disabled class="pull-left">{{ currentUser.name }}</button>
        <button class="pull-left" ng-click="logout()">Log out</button>
    </header>

    <div class="body">
        <div>
            <button ng-click="prev()" class="cycle pull-left" ng-disabled="currentUser.activeCharCount < 1">←</button>
            <button ng-disabled="remainingSlots < 1" class="pull-left" ng-click="create()">Create Character</button>
            <button ng-click="next()" class="cycle pull-right" ng-disabled="currentUser.activeCharCount < 1">→</button>
        </div>

        <div class="clearfix"></div>

        <div>{{ remainingSlots }} slots remaining</div>
    </div>
</div>