<div id="charSelect" class="dialog">
    <div>
        <button disabled class="pull-left">{{ currentUser.name }}</button>
        <button class="pull-left" ng-click="logout()">Log out</button>
    </div>

    <div>
        <button ng-click="prev()" class="cycle pull-left">←</button>
        <button class="pull-left">{{ selectedChar.name }}</button>
        <button ng-click="next()" class="cycle pull-right">→</button>
    </div>

    <div class="clearfix">
        <div ng-show="selectedChar.name !== 'Create Character'">
            <div class="preview">
                <img ng-src="{{ selectedChar.getTexture() }}" />
            </div>
            <button ng-click="deleteChar()"></button>
        </div>
        <div ng-show="selectedChar.name === 'Create Character'">
            <div>{{ remainingSlots }} slots remaining</div>
        </div>
    </div>

    <div>
        <button ng-click="enterGame()">Enter Ironbane</button>
    </div>
</div>