<div class="character-creator dialog">
    <input type="text" name="name" ng-model="character.name" placeholder="name" ng-maxlength="12" />
    <div class="customization-container">
        <div class="customize-buttons left">
            Gender
            <br>
            <button ng-click="toggleGender()">{{ character.gender }}</button>
            <br>
            Skin
            <br>
            <button ng-click="prevSkin()">◀</button>
            <button ng-click="nextSkin()">▶</button>
        </div>
        <div class="character-preview">
            <img ng-src="charImage" />
        </div>
        <div class="customize-buttons right">
            Hair
            <br>
            <button ng-click="prevHair()">◀</button>
            <button ng-click="nextHair()">▶</button>
            Eyes
            <br>
            <button ng-click="prevEyes()">◀</button>
            <button ng-click="nextEyes()">▶</button>
        </div>
    </div>
    <button ng-click="create()">Create</button>
    <button ng-click="cancel()">Cancel</button>
</div>
