<div id="charSelect" style="height: 321px;">
    <label for="ncname">Name</label>
    <div class="spacersmall"></div>
    <input type="text" id="ncname" class="iinput" style="width:305px" maxlength="12">
    <div id="charCustomizationContainer">
        <div id="charCustomizationButtonsLeft">Gender
            <br>
            <button id="btnGenderChange" class="ibutton" style="width:70px;">Boy</button>
            <br>Skin
            <br>
            <button id="btnSkinPrev" class="ibutton" style="width:30px;">◀</button>
            <button id="btnSkinNext" class="ibutton" style="width:30px">▶</button>
        </div>
        <div id="charCustomizationPreview">
            <div id="charSkinLayer" style="background-image: url(http://ironbane.com:8085/game/images/characters/cache/1000_1000_1000_0_0_0_1.png);"></div>
        </div>
        <div id="charCustomizationButtonsRight">Hair
            <br>
            <button id="btnHairPrev" class="ibutton" style="width:30px;">◀</button>
            <button id="btnHairNext" class="ibutton" style="width:30px">▶</button>Eyes
            <br>
            <button id="btnEyesPrev" class="ibutton" style="width:30px;">◀</button>
            <button id="btnEyesNext" class="ibutton" style="width:30px">▶</button>
        </div>
    </div>
    <button id="btnConfirmNewChar" class="ibutton_attention" style="width:150px">Create</button>
    <button id="btnBackMainChar" class="ibutton" style="width:150px">Cancel</button>
</div>
