<div class="dialog">
    <form class='loginForm' name="LoginForm">
        <div class="error" ng-show="loginError">{{ loginErrorMsg }}</div>
        <input type="text" name="username" ng-model="username" placeholder="username" />
        <br>
        <password-field name="password" toggle="togglePW" ng-model="password" placeholder="password"></password-field>
        <div class="passwordToggle"><input type="checkbox" checkbox-custom id="hidePassToggle" name="hidePassToggle" ng-model="togglePW" label="hide password" /></div>
        <br>
        <button ng-click="login()">Sign In</button>
        <button ng-click="cancel()">Back</button>
    </form>
</div>
