<div>
    <strong>
        <a href="forum.php" target="_new">Forum</a>
        |
        <a href="https://twitter.com/IronbaneMMO" target="_new">Twitter</a>
    </strong>
    <section>
        <header>
            <h2>News</h2>
        </header>
        <div class="news-content">
            <div>
                <article ng-repeat="post in posts">
                    <header>
                        <h4 class="news-post-title">
                            <a ng-href="/forum.php?action=topic&topic={{ post.topic_id }}">{{ post.title }}</a>
                        </h4>
                        <p class="news-post-time">
                            <time datetime="{{ post.time * 1000 }}">{{ post.time * 1000 | timeSince }}</time>
                        </p>
                    </header>
                    <p ng-bind-html="post.content | unsafe"></p>
                    <footer>
                        <hr>
                    </footer>
                </article>
            </div>
        </div>
    </section>
</div>
