<div>
    <header>
        <ul class="horizontal-list pipe-list">
            <li><a href="javascript://" ng-click="activeCategory='News';">Forum News</a></li>
            <li><a href="javascript://" ng-click="activeCategory='Twitter';">Twitter</a></li>
            <li><a href="javascript://" ng-click="activeCategory='Github';">Github</a></li>
        </ul>
    </header>
    <section class="body">
        <header>
            <h2>{{ activeCategory }}</h2>
        </header>
        <div ng-show="activeCategory === 'Twitter'">
            <a class="twitter-timeline" href="https://twitter.com/IronbaneMMO" data-widget-id="378778613690015744">Tweets by @IronbaneMMO</a>
        </div>
        <div ng-show="activeCategory === 'Github'">?</div>
        <div ng-show="activeCategory === 'News'" class="news-content">
            <div>
                <article ng-repeat="post in posts">
                    <header>
                        <h4 class="news-post-title">
                            <a ng-href="/forum.php?action=topic&topic={{ post.topic_id }}">{{ post.title }}</a>
                        </h4>
                        <p class="news-post-time">
                            <time datetime="{{ post.time * 1000 }}">{{ post.time * 1000 | timeSince }}</time>
                        </p>
                    </header>
                    <p ng-bind-html-unsafe="post.content"></p>
                    <footer>
                        <hr>
                    </footer>
                </article>
            </div>
        </div>
    </section>
</div>
