<div>
    <header>
        <ul class="horizontal-list pipe-list">
            <li><a href="javascript://" ng-click="showNews($event)">Forum News</a></li>
            <li><a href="javascript://" ng-click="showTwitter($event)">Twitter</a></li>
            <li><a href="javascript://" ng-click="showGithub($event)">Github</a></li>
        </ul>
    </header>
    <section class="body">
        <header>
            <h2>News</h2>
        </header>
        <div class="news-content">
            <div>
                <article ng-repeat="post in posts">
                    <header>
                        <h4 class="news-post-title">
                            <a ng-href="/forum.php?action=topic&topic={{ post.topic_id }}">{{ post.title }}</a>
                        </h4>
                        <p class="news-post-time">
                            <time datetime="{{ post.time * 1000 }}">{{ post.time * 1000 | timeSince }}</time>
                        </p>
                    </header>
                    <p ng-bind-html-unsafe="post.content"></p>
                    <footer>
                        <hr>
                    </footer>
                </article>
            </div>
        </div>
    </section>
</div>
