<div class="playHUD">
    <div id="chatBox">
        <chat-window id="chatContent"></chat-window>
        <div id="chatInputBox">
            <input type="text" name="chatInput" id="chatInput" class="iinput">
        </div>
    </div>
    <div id="statBar">
        <div id="healthBar"></div>
        <div id="armorBar"></div>
    </div>
    <div id="coinBar"></div>
    <div id="itemBar"></div>
    <div id="lootBag"></div>
    <div id="book">
        <div id="bookPageLeft" class="bookPage"></div>
        <div id="bookPageRight" class="bookPage"></div>
        <div id="bookFooterLeft" class="bookFooter"></div>
        <div id="bookFooterRight" class="bookFooter"></div>
    </div>
    <div id="map">
        <canvas id="mapCanvas" width="768" height="768"></canvas>
    </div>
</div>