<div class="dialog">
    <form class="registrationForm" name="registrationForm" novalidate>
        <input type="text" id="username" name="username" ng-model="reg.username" placeholder="username">
        <password-field name="password" toggle="togglePW" ng-model="reg.password" placeholder="password"></password-field>
        <input type="email" id="email" name="email" ng-model="reg.email" placeholder="e-mail">
        <div class="passwordToggle"><input type="checkbox" checkbox-custom id="hidePassToggle" name="hidePassToggle" ng-model="togglePW" label="hide password" /></div>
        <br>
        <button ng-click="register()" class="attention">Register</button>
        <button ng-click="cancel()">Back</button>
    </form>
</div>
