<div class="content-body">
    <section class="forum-listing">
        
        Users browsing this forum: <span ng-repeat="user in users"><userlink name="user.name"/></span><br>
        <a href = "/forum">Ironbane forum</a> - {{board.name}}
        <section  class="forum-group">
            <h1 class="board-title {{ board.icon }}" ng-style="board.iconStyle">{{ board.name }}</h1>
           
                <table>
                <tr>
                <th></th><th>title</th><th>replies</th><th>views</th><th>last posted by</th></tr>
                    <tr ng-repeat="topic in topics">
                        
                        <td><img ng-show="topic.sticky" src="../images/icons/svg/pin.svg" style="max-height:30px;max-width:30px;"/>
                            <img ng-show="topic.locked" src="../images/icons/svg/padlock-green.svg" style="max-height:30px;max-width:30px;"/>
                            <img ng-show="!topic.locked && !topic.sticky" src="../images/icons/svg/folder.svg" style="max-height:30px;max-width:30px;"/>
                        </td>

                        <td><a href="/forum/{{board.id}}/topics/{{ topic.id }}">{{ topic.title }}</a><br>
                        Started by <userlink name={{topic.username}}/>
                        on <a href="/forum/{{board.id}}/topics/{{ topic.id }}">
                            <time datetime="{{ topic.firstposttime * 1000 | date }}">{{ topic.firstposttime * 1000 | date:'medium' }}</time>
                        </a>
                        </td>
                        <td>
                        {{topic.postcount}}</td>
                        <td>
                        {{topic.viewcount}}</td>
                        
                        <td> <userlink name="PLACEHOLDER"/> <br>
                        <a href="/forum/{{board.id}}/topics/{{ topic.id }}">
                            <time datetime="{{ topic.lastposttime * 1000 | date }}">{{ topic.lastposttime * 1000 | date:'medium' }}</time>
                        </a>
                        </td>

                    </tr>
                </li>
            </ul>
        </section>
    </section>
    <section ng-show="currentUser.authenticated" class="new-topic-form">
        <h1><i class="icon-edit"></i> New Topic</h1>
        <post-editor board="board.id"></post-editor>
    </section>
</div>