<div class="forum-listing">
    <div class="tools">
        <a href="javascript://" ng-click="newTopic()"><i class="icon-comment"></i> New Topic</a>
    </div>
    <section class="forum-group">
        <h1 class="board-title {{ board.icon }}" ng-style="board.iconStyle">{{ board.name }}</h1>
        <ul class="board-list">
            <li class="board" ng-repeat="post in posts">
                <a class="thread-post" ng-href="{{ post.url + '#' + post.id }}">
                    <time class="thread-time" datetime="{{ post.time * 1000 | date }}">{{ post.time * 1000 | date:'medium' }}</time>
                </a>
                <em class="thread-replies">0</em>
                <strong class="thread-author">{{ post.author.username }}</strong>
                <a class="thread-name" ng-href="{{ post.url }}">{{ post.title }}</a>
            </li>
        </ul>
    </section>
</div>