<div class="content-body">
    <section class="forum-listing">
        <div class="tools">
            <a href="javascript://" ng-click="newTopic()"><i class="icon-comment"></i> New Topic</a>
        </div>
        <a href = "/forum">back</a>
        <section class="forum-group">
            <h1 class="board-title {{ board.icon }}" ng-style="board.iconStyle">{{ board.name }}</h1>
           
               
                <table>
                <tr>
                <th>replies</th><th>title</th><th>author</th><th>start</th></tr>
                    <tr ng-repeat="topic in topics">
                        
                        <td>
                        <em class="thread-replies">{{topic.postcount}}</em></td>
                        <td><a class="thread-name" href="/forum/{{board.id}}/topics/{{ topic.id }}">{{ topic.title }}</a></td>
                        
                        <td><strong class="thread-author">{{ topic.username }}</strong></td>
                        <td><a class="thread-post" href="/forum/{{board.id}}/topics/{{ topic.id }}">
                            <time class="thread-time" datetime="{{ topic.firstposttime * 1000 | date }}">{{ topic.firstposttime * 1000 | date:'medium' }}</time>
                        </a>
                        </td>
                    </tr>
                </li>
            </ul>
        </section>
    </section>
    <section ng-show="currentUser.authenticated" class="new-topic-form">
        <h1><i class="icon-edit"></i> New Topic</h1>
        <post-editor board="board" topic="null"></post-editor>
    </section>
</div>