<div class="editor">
    <ol class="editor-menu-list">
        <li ng-repeat="menuItem in menu | orderBy:'sort'">
            <span class="title">{{ menuItem.title }}</span> <span class="path">{{ menuItem.path }}</span>
            <a class="tool remove" href="javascript://" ng-click="remove($event, menuItem)"><i class="icon-minus-sign"></i></a>
        </li>
    </ol>
    <form name="editMainMenuForm">
        <input type="text" name="title" ng-model="item.title" />
        <input type="text" name="path" ng-model="item.path" />
        <input type="number" name="sort" ng-model="item.sort" />
        <button>Add</button>
    </form>
</div>