<div class="content-body">
    <section>
        <div class="ib-news-banner">
            <div class="ib-news-banner-text">Ironbane is an open source 3D online role-playing game!</div>
            <div class="ib-news-banner-play">
                <button class="ibutton_attention" ng-click="navTo('/game')">Play it now!</button>
                <span>
                    Ironbane runs straight from any modern browser!
                </span>
            </div>
            <div class="ib-news-banner-get-involved">
                <span>
                    We're always looking for motivated people!
                </span>
                <button class="ibutton_attention2" ng-click="navTo('/article/get-involved')">Get involved!</button>
            </div>
        </div>
    </section>
    <section>
        <ul>
        <li class="news-post" ng-repeat="post in posts">
            <header><h2><a ng-href="/forum/7/topics/{{ post.id }}">{{post.title}}</a></h2></header>
            <article ng-bind-html-unsafe="post.content"></article>
            <footer>author: {{ post.username }}</footer>
        </li>
    </ul>
    </section>
</div>