<a ng-href="/editor">Back to editor menu</a>
<table>
		<th>id</th>
		<th><input ng-model="search.name" placeholder="name"></th>
			<th><select ng-model="search.type" ng-options="t.type as t.type for t in templates | unique:'type'">
			<option value="">-- type --</option>
		</select></th>
		<tr ng-repeat="template in templates | filter:search" >
		<td><a ng-href="/editor/item_template/{{template.id}}">{{template.id}}</td>
		<td><a ng-href="/editor/item_template/{{template.id}}">{{template.name}}</td>
		<td><a ng-href="/editor/item_template/{{template.id}}">{{template.type}}</td>
		<!--<td><img src="../game/images/items/medium.php?i={{template.image}}"/></td>-->
</tr>
</table>