<div class="row">
    <div class="col-md-12 box">
        <div class="alert alert-danger" ng-show="loginError"><strong>Oops!</strong> {{ loginErrorMsg }}</div>
        <form name="loginForm" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="username" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="password" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button ng-disabled="loginForm.$invalid" ng-click="login()" class="btn btn-primary">Sign in</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p><a href="/passwordReset">Forgot your password?</a></p>
                <p><a href="/register">Need an account?</a></p>
            </div>
          </div>
        </form>
    </div>
</div>