<div>
    <h1>Login Form</h1>
    <form class='loginForm' name="LoginForm">
        <div class="error" ng-show="loginError">* - Invalid username and/or password!</div>
        <input type="text" name="username" ng-model="username" placeholder="username" />
        <br>
        <input type="text" name="password" ng-model="password" placeholder="password" />
        <br>
        <button ng-click="login()">Sign In</button>
    </form>
    <a href="/passwordReset">Forgot your password?</a>
    <br>
    <a href="/register">Need an account?</a>
</div>