<div class="content-body">
    {{ profile.name }}'s profile<br>
    <a href="/forum">Ironbane forum</a><br>
    Joined: {{profile.reg_date * 1000 | date:'medium'}} <br>
    Total posts: {{profile.totalposts}} <br>
    Country : {{profile.country}} <br>
Location : {{profile.location}} <br>
Website : {{profile.website}} <br>
Occupation : {{profile.occupation}}  <br>
Interests : {{profile.interests}} <br>
Real name : {{profile.realname}} <br>
Age : {{profile.age}} <br>
Gender : {{profile.gender}}
</div>