<div class="content-body">
    <div class="row">
        <div class="col-md-12 box">
            <div class="row">
                <div class="col-md-8">
                    <h4><a href = "/forum">Forum</a> - <a href= "/forum/{{board.id}}">{{board.name}}</a> - {{topic.title}}</h4>
                </div>
                <div class="col-md-4 text-right">
                    <button ng-show="currentUser.authenticated && !topic.locked" ng-click="showReplyForm()" class="btn btn-default">Reply to this topic</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="post in posts">
        <div class="col-md-12 box">
            <div class="row">
                <div class="col-md-8">
                    <article class="postcontent">
                        <p ng-bind-html="post.mContent | unsafe"></p>
                        <hr ng-show="post.user.sig">
                        <span ng-show="post.user.sig" class="signature">
                            {{post.user.sig}}
                        </span>
                    </article>
                </div>
                <div class="col-md-4">
                    <forumuserprofile user="post.user"/>
                </div>
<!-- Post likes are bugged, so commenting this out for now -->
<!--                 <div class="col-md-1">
                    <likebutton post="post.id" like="likePost(post.id)"/>
                </div> -->
            </div>

<!--             <div class="row">
                <div class="col-md-12 col-md-offset-2">
                    Liked by <span ng-repeat="like in post.likes">{{like}}</span>
                </div>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 box">
            <div class="row">
                <div class="col-md-8">
                    <h4><a href = "/forum">Forum</a> - <a href= "/forum/{{board.id}}">{{board.name}}</a> - {{topic.title}}</h4>
                </div>
                <div class="col-md-4 text-right">
                    <button ng-show="currentUser.authenticated && !topic.locked" ng-click="showReplyForm()" class="btn btn-default">Reply to this topic</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="isShowingReplyForm">
        <div class="col-md-12 box">
            <post-editor board="board.id" topic="topic.id"></post-editor>
        </div>
    </div>
</div>