<div class="article-wrap">
    <a ng-href="/editor">Back to editor menu</a>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in data | filter:search">
                <td><a ng-href="/editor/users/{{user.id}}">{{user.id}}</a></td>
                <td><a ng-href="/editor/users/{{user.id}}">{{user.name}}</a></td>
            </tr>
        </tbody>
    </table>
    <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>
</div>
