<div class="col-md-12 well">
    <div ng-click="expanded = !expanded;" class="row user-row">
        <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
            <img class="img-circle"
                 ng-src="{{ user.avatarUrl }}"
                 alt="User Pic">
        </div>
        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
            <strong>{{ user.name }}</strong><br>
            <span class="text-muted">User level: {{ user.roles.join(', ') }}</span>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-user">
            <i ng-class="{'fa-chevron-down': !expanded, 'fa-chevron-up': expanded}" class="fa text-muted"></i>
        </div>
    </div>
    <div ng-show="expanded" class="row user-infos">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">User information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                            <img class="img-circle"
                                 src="{{ user.avatarUrl }}"
                                 alt="User Pic">
                        </div>
                        <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                            <img class="img-circle"
                                 src="{{ user.avatarUrl }}"
                                 alt="User Pic">
                        </div>
                        <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                            <strong>{{ user.name }}</strong><br>
                            <dl>
                                <dt>User level:</dt>
                                <dd>{{ user.roles.join(', ') }}</dd>
                                <dt>Joined:</dt>
                                <dd>{{ user.reg_date * 1000 | date:'medium' }}</dd>
                                <dt>Posts</dt>
                                <dd>{{ user.total_posts || 0 | number }}</dd>
                                <dt>Warnings</dt>
                                <dd>{{ user.total_warnings || 0 | number }}</dd>
                            </dl>
                        </div>
                        <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                            <strong>{{ user.name }}</strong><br>
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>User level:</td>
                                    <td>{{ user.roles.join(', ') }}</td>
                                </tr>
                                <tr>
                                    <td>Joined:</td>
                                    <td>{{ user.reg_date * 1000 | date:'medium' }}</td>
                                </tr>
                                <tr>
                                    <td>Posts</td>
                                    <td>{{ user.total_posts || 0 | number }}</td>
                                </tr>
                                <tr>
                                    <td>Warnings</td>
                                    <td>{{ user.total_warnings || 0 | number }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-sm btn-primary" type="button"
                            ng-click="messageUser(user)"
                            data-toggle="tooltip"
                            data-original-title="Send message to user"><i class="fa fa-envelope-o"></i></button>
                    <span class="pull-right">
                        <button class="btn btn-sm btn-success" type="button"
                                ng-click="showCharacters(user)"
                                data-toggle="tooltip"
                                data-original-title="View this user's characters"><i class="fa fa-users"></i></button>
                        <button class="btn btn-sm btn-warning" type="button"
                                ng-click="editUser(user)"
                                data-toggle="tooltip"
                                data-original-title="Edit this user"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger" type="button"
                                ng-click="deleteUser(user)"
                                data-toggle="tooltip"
                                data-original-title="Remove this user"><i class="fa fa-trash-o"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>