// ironbane.less

body {overflow:hidden;margin:0;padding:0;color: lime;}

// main viewport should render under everything
.viewport {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10000;
}

.page-wrap {
    text-align: center;
    .form-container {
        width: 300px;
        margin: 0 auto;
        background-color: rgba(54, 153, 132, 0.28);
        padding: 20px;
        height: 300px;
        outline: 3px solid #06452d;
    }
}

.ibutton {
    background-color: #357768;
    border: 3px solid #1f453c;
    display: inline-block;
    color: #37ffac;
    font-family: Verdana;
    font-size: 19px;
    font-weight: bold;
    padding: 6px 0px;
    text-decoration: none;
    text-shadow: 2px 1px 0px #06452d;
    margin: 3px;
    &:hover {
        background-color:#5ba997;
    }
    &:active {
        position: relative;
        top:1px;
    }
}